*{
    font-family: 'Teko', 'Poppins' ,sans-serif;
}


header{

    .navbar{
        font-family: 'Teko';
        background: transparent;
        display: flex !important;
        justify-content: space-around;
        align-items: center;

        .navbar-brand{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: flex-end;

            h1{
                line-height: 0.2;
            }
        }

        .navbar-toggler{

        }

        .navbar-collapse{

            .navbar-nav{

                .nav-link{
                    font-size: 17px;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 15px 7px;
                    margin: 10px 15px;
                }
            }
        }


    }

}