$navbar-bg-color: #131821;
$page-bg-color: #11141b;
$text-light-color: #c8c8c8;
$sub-heading-color: #ff6d54;

*{
    font-family: 'Teko', 'Poppins' ,sans-serif;
}
body{
    background: $page-bg-color !important;
}


header{
    position: relative;

    .navbar{
        position: fixed;
        z-index: 2;
        width: 100vw;
        font-family: 'Teko';
        background: transparent;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        transition: background 0.5s ease-in-out;

        .navbar-brand{
            display: flex;
            padding: 0;
            margin: 0;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            line-height: 0.2;
            
            h1{
                font-size: 25px;
            }
        }

        .navbar-toggler{

        }

        .navbar-collapse{

            .navbar-nav{

                .nav-link{
                    font-size: 17px;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 15px 7px;
                    margin: 10px 15px;
                }
            }
        }


    }

    #banner-container{
        position: relative;
        height: 100vh;
        background-attachment: fixed;
        background-image: url('../assets/banners/banner2.jpeg');
        background-size: cover;
        background-repeat: no-repeat;

        #banner-overlay{
            position: absolute;
            top: 0;
            min-height: 100%;
            width: 100vw;
            background-color: rgba(0,0,0,0.7);
            z-index: 1;

            #banner-overlay-text-container{
                position: absolute;
                color: #fff;
                top: 40vh;
                left: 15vw;
                text-align: center;

                #banner-overlay-heading{
                    color: #fff;
                    letter-spacing: 4px;
                    font-weight: 500;
                    font-size: 65px;
                    text-transform: uppercase;
                    animation-duration: 1.5s;
                }

                #banner-overlay-subheading{
                    color: #fff;
                    letter-spacing: 4px;
                    font-weight: 300;
                    font-size: 25px;
                    text-transform: uppercase;
                    animation-delay: 0.7s;
                    animation-duration: 1.5s;
                }
            }

            #banner-scroll-button{
                color: #fff;
                position: absolute;
                bottom: 7vh;
                left: 50vw;
                width: 24px;
                height: 24px;
                border-left: 1px solid #fff;
                border-bottom: 1px solid #fff;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                animation: scroll-button 1.5s infinite;
                box-sizing: border-box;
            }
        }
    }
}

#about-me-container{
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;

    #about-me-heading{
        text-transform: uppercase;
        width: 50%;

        h1{
            font-size: 60px;
        }

        .subheading{
            color: $sub-heading-color;
            letter-spacing: 14px;
            font-size: 17px;
            font-weight: 300;
            padding-left: 2px;
        }
    }

    #about-me-text{
        width: 50%;
        color: $text-light-color;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 400;
        line-height: 2;

        p{
            font-family: 'Poppins';
        }
    }
}

// Animations
@keyframes scroll-button {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }